body{
	background-color:rgb(240,255,255);
	font-family:'Rouge Script', cursive;
	color:#F90B6D;
	justify-content:center;
	.date-span;
	.author span { background: #fdfdfd; padding: 0 10px; text-transform: uppercase; }
}

@media only screen and (max-width: 600px) {
  body {
    background-color: white;
  }
}

.container1{
	display:flex;
	flex:100%;
	border-style:single;
	text-align:center;
	justify-content:center;
	text-shadow: 2px 2px 2px white;
	}
	
.container2{
	display:flex;
	border-style:single;
	text-align:center;
	justify-content:center;
	}


h2{
text-decoration:underline;
font-style: italic;
text-shadow: 1px 1px 1px white;
}

ul.myUL {
  display: inline-block;
  text-align: left;
  list-style-type: circle;
  margin: 0;
}

.box1{
	border-style:single;
	flex:33.3%;
}

.box2{
	border-style:single;
	flex:33.3%;}

.box3{
	border-style:single;
	flex:33.3%;}

